@keyframes bounce {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
  }
}

.loading {
  margin: 60px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  div {
    background-color: $color-indigo;
    height: 100%;
    width: 6px;
    margin: 0 1px;
    display: inline-block;
    animation: bounce 1.2s infinite ease-in-out;

    &.loading--2 {
      animation-delay: -1.1s;
    }

    &.loading--3 {
      animation-delay: -1.0s;
    }

    &.loading--4 {
      animation-delay: -0.9s;
    }

    &.loading--5 {
      animation-delay: -0.8s;
    }
  }
}
