.result {
  width: 100%;
  max-width: 348px;
  text-align: center;
  margin: 20px auto;
  background-color: $color-indigo;

  .result--header {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: white;
  }

  .result--overview {
    padding: 10px;
    text-align: left;
    line-height: 1.2em;
    color: white;
  }
}
