.searchbar {
  width: 100%;

  input[type=text] {
    width: calc(100% - 20px);
    padding: 10px;
    line-height: 28px;
    font-size: 28px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: transparentize($base-text-color, 0.9);
    }
  }
}

// Medium devices
@media (min-width: 426px) {
  .searchbar {
    input[type=text] {
      width: calc(100% - 30px);
      padding: 15px;
      line-height: 36px;
      font-size: 36px;
    }
  }
}

// Large devices
@media (min-width: 769px) {
  .searchbar {
    input[type=text] {
      width: calc(100% - 40px);
      padding: 20px;
      line-height: 60px;
      font-size: 60px;
    }
  }
}
