// Global variables
$background-color: #f7f7f7;
$base-text-color: #0e0e0e;
$color-indigo: #3F51B5;
$color-red: #F44336;

// Top level nodes
body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $base-text-color;
    background-color: $background-color;
}
